.side-menu-icon {
  position: relative;
  height: 25px;
  width: 30px;
}

.side-menu-bar {
  position: absolute;

  left: 12.5%;
  width: 75%;
  background-color: aliceblue;
  height: 1px;
}

.upper {
  top: 20%;
}
.middle {
  top: 50%;
}
.lower {
  top: 80%;
}
