.upper {
  height: 54px;
  background-color: var(--mainColor80);
  width: 100%;
  position: fixed;
  top: 0;
}

.lower {
  display: none;
}
.side-menu {
  display: block;
  position: fixed;
  height: 100vh;
  background-color: salmon;
  width: 100px;
  top: 0;
  right: 0;
  width: 50vw;
  transform: translateX(100%);
  transition: all 0.35s ease-in-out;
  padding: 5px;
}

.side-menu-show {
  transform: translateX(0);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lower {
    display: block;
    height: 54px;
    width: 100%;
    background-color: var(--alternateColor2);
    margin-top: 54px;
  }
  .side-menu {
    display: none;
  }
}
