.mb-navbar-container {
}
.mb-upper-navbar-container {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  position: fixed;
  top: 0;
  min-height: 60px;
  z-index: 2;
  /* min-height: 60px;

  width: 100%; */
}
.mb-lower-navbar-container {
  width: 100%;
  background-color: inherit;
  margin-top: 60px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
.mb-upper-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: var(--maxWidth);
}
.mb-menu-bar-container {
  height: 35px;
  width: 40px;
  border: 2px solid lightgrey;
  position: relative;
  border-radius: 5px;
}

/* Menu-bar  */
.mb-bar {
  position: absolute;
  height: 2px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: grey;
  transition: all 0.35s ease-in-out;
}
.bar-upper {
  top: 20%;
}

.bar-middle {
  top: 45%;
}
.bar-lower {
  top: 70%;
}

.bar-upper.menu-active {
  transform: translateX(-50%) rotate(45deg); /* Rotate the upper bar to form an X */
  top: 45%; /* Move to the center */
}
.bar-lower.menu-active {
  transform: translateX(-50%) rotate(-45deg); /* Rotate the lower bar to form an X */
  top: 45%; /* Move to the center */
}
.bar-middle.menu-active {
  top: 45%;
  display: none;
}
/* End of Menu-bar  */
/* Avatar  */
.mb-avatar-container {
  display: none;
}
/*end of avatar*/

/* Login Button */
.mb-navbar-login-container {
  display: none;
}
/*end of login button */

/* side-menu */

.mb-navbar-side-menu {
  display: block;
  position: fixed;
  height: 100vh;
  background-color: white;
  width: 100px;
  top: 0;
  right: 0;
  width: 100vw;
  /* transform: translateX(100%); */
  transition: all 0.35s ease-in-out;
  padding: 5px 10px 5px 20px;
  color: black;
  z-index: 2;
  overflow-y: hidden !important;
  border: 4px solid lightgrey;
}
.navbar-menu-hide {
  transform: translateX(100%);
}

.mb-lower-navbar {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mb-navbar-container {
  }
  .mb-upper-navbar {
  }
  /* Menu-bar  */
  .mb-menu-bar-container {
    display: none;
  }
  /* Avatar */
  .mb-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
  }
  .mb-avatar-container img {
    width: 200%;
  }
  /* Login Button */
  .mb-navbar-login-container {
    display: block;
  }
  /*end of login button */
  .mb-lower-navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--maxWidth);
    /* border: 1px solid red; */
    width: 80%;
    font-size: 14px;
    min-height: 2rem;
  }
  .mb-lower-navbar-links {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
  }
  .mb-lower-navbar-links a,
  .mb-lower-navbar-links > div {
    /* border: 2px solid green; */
    min-width: 5rem;
    font-weight: thin;
    display: flex;
    align-items: center;

    padding: 20px 10px;
    cursor: pointer;
  }
  .mb-lower-navbar-links a {
    justify-content: center;
  }
  .mb-lower-navbar-links {
    /* border: 2px solid green; */
    min-width: 5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0px;
    letter-spacing: 1px;
    /* padding: 20px 10px; */
  }
  .mb-links {
    position: relative;
  }
  .selected-link {
    background-color: var(--mainColor80);
  }
  .mb-lower-navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    height: 300px;
    width: 250%;
    background-color: whitesmoke;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transform: translateY(-5px); /* Slightly closer effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: left;
  }
  .mb-lower-navbar-dropdown a {
    /* border: 1px solid green; */
    text-align: left;
    padding: 0;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 500;
  }
  .mb-lower-navbar a:hover,
  .mb-lower-navbar-links > div:hover {
    background-color: var(--mainColor80);
  }
  .mb-lower-searchbar-container {
    display: none;
  }

  .no-focus-border {
    padding: 8px;
    outline: none;
  }

  .no-focus-border:focus {
    border: none; /* Remove border on focus */
    outline: none; /* Remove default outline */
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 900px) {
  .mb-navbar-container {
  }
  .mb-lower-searchbar-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  .mb-searchbar-drop-down {
    position: absolute;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-top: none;
    min-height: 50px;
    width: 100%;
    top: 85%;
    left: 0;
    background-color: white;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  .searchbar-suggestion {
    min-height: 30px;
    /* border: 1px solid red; */
    border-top: 1px solid rgba(128, 128, 128, 0.125);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mb-lower-navbar-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    height: 80%;
    margin: auto 0;
    padding: 5px 10px;
    min-width: 3rem;
    border-radius: 5px;
  }
  .mb-upper-navbar {
  }

  .mb-lower-navbar {
  }
}
