@media only screen and (max-width: 600px) {
  .stats-goals {
    display: none;
  }
  .stats-record {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  .stats-records {
    display: none;
  }
}
